<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit TodoList</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="h-screen grid place-content-center place-items-center">
    <form class=" w-[500px] rounded-xl mx-auto space-y-4 border  p-8 "  th:action="@{/todos/edit/{id}(id=${todo.id})}" method="post" >
        <h1 class="text-blue-500 text-center text-3xl p-4" >Edit TodoList</h1>
        <div class="space-y-2">
            <label >Task</label>
            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" th:field="${todo.task}" placeholder="Task Title">
        </div>
        <div class="space-y-2">
            <label>Task's Description</label>
            <textarea type="text" rows="4" cols="50"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" th:field="${todo.description}" placeholder="Task Description"></textarea>
        </div>
        <div class=" space-y-2">
            <label >Done</label>
            <input type="checkbox" class="block w-6 h-6 " th:field="${todo.done}" th:value="${id}"/>
        </div>
        <button class=" py-2 px-4 bg-blue-200 rounded-lg" type="submit">Save</button>
        <button class=" py-2 px-4 border border-2 border-blue-200 rounded-lg"><a href="/todos"  >Back to todo List</a></button>

    </form>
</main>



</body>
</html>