<!DOCTYPE html>
<html  lang="en">
<head>
    <title>Todo Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h1 class="text-red-500 text-center text-3xl p-4" >Todo Not Found</h1>
<p class="text-gray-500 text-center text-xl p-4">The todo task was not found.</p>
<div class="w-full h-auto flex justify-center items-center mt-8">
    <button class=" py-2 px-4 border border-2 border-blue-200 rounded-lg"><a href="/todos"  >Back to todo List</a></button>
</div>
</body>
</html>